<div *ngFor="let user of user" class="card card-body mb-2">
    <div class="row">
        <div class="col-md-8">
            <div class="text-center">
                <p class="text-info">Propietario: {{user.Nombres}} {{user.Apellidos}}</p>
            </div>
            <ul>
                <li>
                    Tipo id: {{user.TipoId}}
                </li>
                <li>
                    Identificacion: {{user.Id}}
                </li>
                <li>
                    Nombre(s): {{user.Nombres}}
                </li>
                <li>
                    Apellidos: {{user.Apellidos}}
                </li>
                <li>
                    Fecha nacimiento: {{ user.Nacimiento   }}
                </li>
                <li>
                    Edad: {{user.Edad}}
                </li>
                <li>
                    Email: {{user.Email}}
                </li>
                <li>
                    Numero celular: {{user.Celular}}
                </li>
                <li *ngIf="user.Estado" class="text-success"> 
                    Pago de administracion y parqueadero al dia
                </li>
                <li *ngIf="!user.Estado" class="text-danger"> 
                    Pago de administracion y parqueadero atrasado
                </li>
                <li>
                    Fecha inicio: {{user.createdAt}}
                </li>
                <hr>
                <button class="btn btn-danger" (click)="user._id && deleteUser(user._id)">
                    Delete
                </button>
                <button class="btn btn-secondary" [routerLink]="['/user/edit', user._id]">
                    Edit
                </button>
            </ul>
        </div>
    </div>
    <div class="col-md-4">

    </div>
</div>
